@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    color: hsl(24, 5%, 20%);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}



.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: hsl(24, 5%, 15%);
}

h2 {
    color: hsl(14, 45%, 36%);
    margin: 25px 0 10px;
}

h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul,
ol {
    padding-left: 25px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

span {
    font-weight: 700;
}

.time {
    background-color: #FFF6FB;
    padding: 20px;
    border-radius: 10px;
}

.nutrition ul {
    list-style: none;
    padding: 0;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

table td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

ul li::marker,
ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

@media (max-width: 900px) {
  
    body {
        background-color: white; 
      }
    
      .container {
        width: 100vw; 
        margin: 0;
        padding: 0;
      }
    
      .container .card {
        border-radius: 0; 
        margin: 0;
        min-height: 100vh; 
      }
  }
  